/* Especificidad 001 */
header, menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    box-sizing: border-box;
    padding: 1.5em;
    background-color: #0A1A2E;
    color: #FFFFFF;
}

/* Especificidad 001 */
header {
    width: 100%;
}

/* Especificidad 001 */
menu {
    width: 50%; 
    margin: 0 auto; 
}

/* Especificidad 003 */
body > p > a {
    color: #8F0000;
    /* background-color heredado de body */
}

/* Especificidad 001 */
h1 {
    color: #FFFFFF;
    /* backgroud-color heredado de header */
    text-decoration: none;
    font-size: 1.25em;
    margin: 0.5em;
    flex: 1 1 auto; 
    text-align: left; 
    white-space: nowrap; 
}

/* Especificidad 001 */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 1.05em; 
    flex: 2 1 auto; 
    width: auto; 
    padding: 0.25em; 
    box-sizing: border-box;
}


/* Especificidades 003, 001 */
menu li a, a {
    text-decoration: none;           
    color: #FFFFFF;
    /* backgroud-color heredado de menu */
    font-size: 1.27em;
    padding: 0.3em 0.5em; 
    border-radius: 0.25em;
    white-space: nowrap; 
    text-align: center;
    flex: 0 0 auto; 
}

/* Especificidad 003 */
form p a {
    color: #0000ff;
    /* backgroud-color heredado de form */
}

/* Especificidad 002 */
menu li {
    list-style: none
}

/* Especificidad 011 en cada selector */
a:hover, a:focus {
    color: #eb950c;
    /* backgroud-color heredado de la regla header, menu */
}

/* Especificidad 001 */
footer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding: 0.5em; 
    margin: 0.25em;
    background-color: #0A1A2E;
    color: #FFFFFF;
    text-align: center;
}

/* Especificidad 011 */
footer button {
    padding: 0.5em 1em;
    background-color: #0000ff; 
    color: #FFFFFF;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 0.5em;
}

/* Especificidad 012 */
footer p {
    margin: 0.5em;
    text-align: center;
}