/* Especificidad 002 */
header, menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    box-sizing: border-box;
    padding: 1.5em;
}

/* Especificidad 001 */
header {
    width: 100%;
}

/* Especificidad 001 */
menu {
    width: 50%; 
    margin: 0 auto; 
}

/* Especificidad 001 */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 1.05em; 
    flex: 2 1 auto; 
    width: auto; 
    padding: 0.25em; 
    box-sizing: border-box;
}

/* Especificidad 001 */
footer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding: 0.5em; 
    margin: 0.25em;
}