/* Especificidad 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    text-align: center;
    justify-content: center;
    gap: 1em; 
    width: 80%;
    margin: 0 auto;
}

/* Especificidad 002 */
main > h2 {
    grid-column: -1 / 1;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
}

/* Especificidad 002 */
main > button {
    grid-column: -1 / 1;
    margin: 1em auto;
    padding: 1em 2em;
    background-color: #1F3B4D;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1.2em;
}

/* Especificidad 002 */
main article {
    width: 100%;
    height: 25vh;
    border: 0.25em solid #000;
    background-color: #FFFFFF;
    /* color heredado del body */
    box-sizing: border-box;
    border-radius: 0.5em;
    display: grid;
    cursor: pointer;
    transform-style: preserve-3d; 
    transition: transform 0.5s;       
}

/* Especificidad 003 */
main article header {
    background-color: transparent;
    /* color heredado del header */
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

/* Especificidad 004 */
main article header h3 {
    color: #000;
    /* background-color heredado del article header */
    text-align: center;
    text-decoration: none;
}

/* Especificidad 003 */
main article img {
    margin: 0.1em auto;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* Especificidad 012 */
main article[data-state="card-revealed"] {
    transform: rotateY(180deg);
}

/* Especificidad 013 */
main article[data-state="card-hidden"] img {
    display: none;
}

/* Especificidad 014 */
main article[data-state="card-revealed"] img {
    height: 15vh;
    display: block;
}

/* Especificidad 014 */
main article[data-state="card-revealed"] header h3 {
    display: none;
}

/* Especificidad 001 */
dialog {
    width: 100%;
    max-width: 31.25em;
    padding: 1em;
    border: none;
    border-radius: 0.75em;
    box-shadow: 0 0.22em 0.75em #00000033;
    text-align: center;
}

/* Especificidad 002 */
dialog::backdrop {
    background: #00000080;
    /* color heredado del body */
}

/* Pantallas pequeñas (teléfonos) */
@media (max-width: 770px){
    /* Especificidad 001 */
    main {
        /* Redefinir grid-template-columns es necesario para que las cartas se muestren de forma correcta */
        grid-template-columns: repeat(3, 1fr);
        /* Redefinir el width es necesario para que la seccion se ajuste correctamente */
        width: 90%;
    }

    /* Especificidad 002 */
    main > h2 {
        /* Reducir el tamaño del texto es necesario para garantizar la legibilidad */
        font-size: 0.8em;
        margin: 0.5em auto;
    }

    /* Especificidad 002 */
    main article {
        /* Redefinir el width es necesario para que las cartas se muestren correctamente */
        width: 100%;
        /* Redefinir la altura es necesario para que las cartas se muestren correctamente */
        height: 20vh; 
    }

    /* Especificidad 004 */
    main > article header h3 {
        text-align: center; 
        font-size: 0.85em; 
    }

    /* Especificidad 001 */
    dialog {
        /* Redefinir el padding es necesario para que el dialogo se muestre correctamente */
        padding: 0.5em;
        font-size: 0.9em; 
    }
    
}